@import url(global.css);
/* Header Section */
h1 {
  font-size: 1.5em;
  text-align: center;
}

.mobile_menu {
  visibility: hidden;
}

/* Main */
h2,
p {
  text-align: center;
}

h2 {
  font-size: 1.4em;
  text-transform: uppercase;
  -webkit-margin-after: 0.3em;
          margin-block-end: 0.3em;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em 1.5em;
  border-top: 1px solid rebeccapurple;
  border-bottom: 1px solid rebeccapurple;
  padding: 0.5em;
}

.contact .contact-img {
  width: 50%;
}

.contact .contact-img .floyd-treats {
  display: block;
  width: 100%;
  border-radius: 1em;
  -webkit-box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

p {
  margin: 1em;
  font-style: italic;
}

.logo {
  width: 30%;
}

.facebook {
  width: 100%;
}

/* Footer */
footer {
  color: #085394;
  background-color: #9fc5f8;
  border: solid 3px #999999;
  border-radius: 0.5em;
  text-align: center;
  width: 96%;
}

/* Tablet Styling */
@media only screen and (min-device-width: 740px) and (max-device-width: 1200px) {
  h1 {
    font-size: 3em;
    margin: 0.2em 0;
  }
  li {
    list-style-type: none;
  }
  .menu-toggle {
    display: none;
  }
  .bigNavContainer {
    display: block;
    border-top: 0.1em solid rebeccapurple;
    border-bottom: 0.1em solid rebeccapurple;
    width: 75%;
  }
  .tab-and-desk-nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-decoration: none;
    margin: 0.5em 0;
  }
  .tab-and-desk-nav-items a {
    text-decoration: none;
    font-size: 1.4em;
  }
  main {
    margin-top: 0.5em;
  }
  h2 {
    font-size: 1.7em;
  }
  p {
    font-size: 1.7em;
  }
  footer {
    font-size: 1.1em;
  }
}

/* Styling for Desktops */
@media only screen and (min-device-width: 1220px) {
  body {
    background: #9fc5f8;
  }
  h1 {
    margin: 0;
    font-size: 3.3em;
  }
  .menu-toggle {
    display: none;
  }
  .bigNavContainer {
    display: block;
    border-top: 0.1em solid #1b5588;
    border-bottom: 0.1em solid #1b5588;
    width: 85%;
    margin-bottom: 1em;
  }
  .tab-and-desk-nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-decoration: none;
    margin: 0.2em 0;
    padding: 0;
  }
  .tab-and-desk-nav-items a {
    text-decoration: none;
    font-size: 2.5em;
    color: #1b5588;
  }
  .tab-and-desk-nav-items li {
    list-style-type: none;
    padding: 0;
    text-indent: 0;
  }
  .tab-and-desk-nav-items a:hover {
    font-weight: bolder;
    color: #ad1694;
  }
  main {
    border: solid 0.1em #4a6277;
    background-color: rgba(255, 255, 255, 0.803);
  }
  h2 {
    font-size: 2em;
    margin: 0.5em 0 0;
  }
  .contact {
    width: 74%;
    padding: 0.5em;
    margin: auto;
    border-top: solid 0.1em #4a6277;
    border-bottom: solid 0.1em #4a6277;
  }
  .contact-img {
    padding: 3em;
  }
  .floyd-treats {
    width: 100%;
  }
  p {
    font-size: 1.7em;
  }
  .logo {
    padding-top: 0.5em;
    width: 10%;
  }
  .logo:hover {
    -webkit-animation: bounce ease 2s;
            animation: bounce ease 2s;
  }
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    10% {
      -webkit-transform: scale(1.1, 0.9) translateY(0);
              transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      -webkit-transform: scale(0.9, 1.1) translateY(-2em);
              transform: scale(0.9, 1.1) translateY(-2em);
    }
    50% {
      -webkit-transform: scale(1.05, 0.95) translateY(0);
              transform: scale(1.05, 0.95) translateY(0);
    }
    57% {
      -webkit-transform: scale(1, 1) translateY(-0.5em);
              transform: scale(1, 1) translateY(-0.5em);
    }
    64% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    100% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
  }
  @keyframes bounce {
    0% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    10% {
      -webkit-transform: scale(1.1, 0.9) translateY(0);
              transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      -webkit-transform: scale(0.9, 1.1) translateY(-2em);
              transform: scale(0.9, 1.1) translateY(-2em);
    }
    50% {
      -webkit-transform: scale(1.05, 0.95) translateY(0);
              transform: scale(1.05, 0.95) translateY(0);
    }
    57% {
      -webkit-transform: scale(1, 1) translateY(-0.5em);
              transform: scale(1, 1) translateY(-0.5em);
    }
    64% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
    100% {
      -webkit-transform: scale(1, 1) translateY(0);
              transform: scale(1, 1) translateY(0);
    }
  }
  footer {
    background-color: transparent;
    font-size: 1.6em;
    border: none;
  }
}
/*# sourceMappingURL=contact.css.map */